<div class="title"></div>

<h1>Editing User</h1>

<%= render 'form' %>



<div class="nav">
    <div class="nav_box">
        <div class="nav_link">
            <%= link_to "Back", users_path %>
        </div>
        <div class="nav_link">
            <%= link_to 'Show', @user %>
        </div>
    </div>

</div>