/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
html{
    margin: 0px;
    padding: 0px;
    border:0px;
}
.title{

    height:50px;
    background-color:#3a5795;
    padding:0px;
    position: absolute;
    top:0;
    width: 100%;
    margin:0px;
    border:0px;
}

body{
    margin:0px;
}

table#users{

    margin-left: 15%;
    margin-right: 15%;
    margin-top: 15%;
    width: 70%;


}

.login_box{

    margin-left: 150px;
    position: absolute;
    bottom:0px;
}

.nav{
    height:100%;
    width:75px;
    background-color:#3a5795;
    left:0px;
    position:absolute;
    top:40px;
    bottom:0px;
}

.field, .actions{
    margin-left:125px;
}

.nav_box{
    margin-top:200px;
}

.nav_link{
    background: 1px dimgray;
    border: ridge;
    width: 70px;
    height:20px;

    text-align: center;


}

.user_box{

    margin-left: 120px;
    margin-top: 200px;
    text-align: left;

}